
<ion-header>
  <ion-toolbar no-padding>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onEvent('onTextChange', $event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
s
<!--Theme Google Card - Styled cards 2-->
<ion-content>
<ion-grid no-padding >
  <ion-row *ngIf="data != null">
    <ion-col col-12 col-lg-4 *ngFor="let item of data.items;let i = index">
      <ion-card text-left>
        <!--Card Image-->
        <div card-image>
          <img [src]="item.image" height='200' (click)="detail(item.uid,item.image, item.index)"/>
          <ion-badge ion-fixed item-end class="badge-dark">{{item.prix}} / jour</ion-badge>
          <button ion-fixed ion-button button-action-shit (click)="onVisite()">
             <ion-icon name='eye-off'></ion-icon>
          </button>
          
        </div>
        <!--Card descriptiom-->
        <ion-card-content (click)="onEvent('onItemClick', item.uid, item.image, $event)">
            <p>Appartement ultra-moderne 3 chambres ( meublé ) à louer à Bonapriso Haut Standing - Grandes pieces - Ascenseur - Groupe électrogène - Parking - Gardiens H24 - Cameras de surveillance -  Grand Jardin 💰 :  100mille  fcfa/jour</p>
            
        </ion-card-content>


      <ion-row no-padding>
      
      
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-left (click)="share(card)">
          <ion-icon name="mail"></ion-icon>
          Envoyer un Message
        </button>
      </ion-col>
    </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
