page-tabs4 {

    #butt_color_supprimer
    {
        background-color: red;
    }

    .myphoto
    {
        height: 40vh;
  width: auto;
  margin: auto;
  display: block;
    }

    .welcome-card{
        max-height: 370vh;
        overflow: hidden;
      }
}
