<!-- Themes Swipe To Dismiss - Products + CTA -->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12>
        <!-- Header top Swipe To Dismiss Products + CTA -->
        <ion-list-header header-section no-margin>
          <!-- Big Title Swipe To Dismiss Products + CTA -->
          <h1 header-title text-capitalize>{{data.titre}} </h1>
          <button item-end ion-button button-clear-outline outline round *ngIf="data.titre === 'Villa'" (click)="onEvent('onAjouterVilla', '', $event)">Ajouter</button>
          <button item-end ion-button button-clear-outline outline round *ngIf="data.titre === 'AppartsNM'" (click)="onEvent('onAjouterApptNM', '', $event)">Ajouter</button>
          <button item-end ion-button button-clear-outline outline round *ngIf="data.titre === 'AppartsM'" (click)="onEvent('onAjouterAppartsM', '', $event)">Ajouter</button>
          <button item-end ion-button button-clear-outline outline round *ngIf="data.titre === 'Immeuble'" (click)="onEvent('onAjouterImmeuble', '', $event)">Ajouter</button>
          <button item-end ion-button button-clear-outline outline round *ngIf="data.titre === 'Bureau'" (click)="onEvent('onAjouterBureau', '', $event)">Ajouter</button>
          <button item-end ion-button button-clear-outline outline round *ngIf="data.titre === 'Magasin'" (click)="onEvent('onAjouterMagasin', '', $event)">Ajouter</button>
          <button item-end ion-button button-clear-outline outline round *ngIf="data.titre === 'Bail'" (click)="onEvent('onAjouterBail', '', $event)">Ajouter</button>

          <!--<button item-end ion-button button-clear-outline outline round *ngIf="data.header == 'Appt non mblé'" (click)="onEvent('onAjouterApptNM', '', $event)">Ajouter</button>-->
          
        </ion-list-header>
        <!-- Content -->
        <ion-list no-margin>
          <ion-item-sliding *ngFor="let item of data.items" #slidingItem>
            <ion-item border no-lines *ngIf="data.titre === 'Villa'" (click)="onEvent('onModifierVilla', item, $event)">
              <!-- Images -->
              <ion-thumbnail item-start>
                <img src="{{item.image}}">
              </ion-thumbnail>
              <!-- Title -->
              <h2 item-title>{{item.autre}}</h2>
              <!-- Subtitle -->
              <p item-subtitle text-wrap>{{item.avis}}</p>
              <!-- Badge -->
              <ion-badge text-uppercase badge-light item-end>{{item.prix}}</ion-badge>
            </ion-item>

            <ion-item border no-lines *ngIf="data.titre === 'AppartsNM'" (click)="onEvent('onModifierAppartsNM', item, $event)">
              <!-- Images -->
              <ion-thumbnail item-start>
                <img src="{{item.image}}">
              </ion-thumbnail>
              <!-- Title -->
              <h2 item-title>{{item.autre}}</h2>
              <!-- Subtitle -->
              <p item-subtitle text-wrap>{{item.avis}}</p>
              <!-- Badge -->
              <ion-badge text-uppercase badge-light item-end>{{item.prix}}</ion-badge>
            </ion-item>

            <ion-item border no-lines *ngIf="data.titre === 'AppartsM'" (click)="onEvent('onModifierAppartsM', item, $event)">
              <!-- Images -->
              <ion-thumbnail item-start>
                <img src="{{item.image}}">
              </ion-thumbnail>
              <!-- Title -->
              <h2 item-title>{{item.autre}}</h2>
              <!-- Subtitle -->
              <p item-subtitle text-wrap>{{item.avis}}</p>
              <!-- Badge -->
              <ion-badge text-uppercase badge-light item-end>{{item.prix}}</ion-badge>
            </ion-item>

            <ion-item border no-lines *ngIf="data.titre === 'Immeuble'" (click)="onEvent('onModifierImmeuble', item, $event)">
              <!-- Images -->
              <ion-thumbnail item-start>
                <img src="{{item.image}}">
              </ion-thumbnail>
              <!-- Title -->
              <h2 item-title>{{item.autre}}</h2>
              <!-- Subtitle -->
              <p item-subtitle text-wrap>{{item.avis}}</p>
              <!-- Badge -->
              <ion-badge text-uppercase badge-light item-end>{{item.prix}}</ion-badge>
            </ion-item>

            <ion-item border no-lines *ngIf="data.titre === 'Bureau'" (click)="onEvent('onModifierBureau', item, $event)">
              <!-- Images -->
              <ion-thumbnail item-start>
                <img src="{{item.image}}">
              </ion-thumbnail>
              <!-- Title -->
              <h2 item-title>{{item.autre}}</h2>
              <!-- Subtitle -->
              <p item-subtitle text-wrap>{{item.avis}}</p>
              <!-- Badge -->
              <ion-badge text-uppercase badge-light item-end>{{item.prix}}</ion-badge>
            </ion-item>

            <ion-item border no-lines *ngIf="data.titre === 'Magasin'" (click)="onEvent('onModifierMagasin', item, $event)">
              <!-- Images -->
              <ion-thumbnail item-start>
                <img src="{{item.image}}">
              </ion-thumbnail>
              <!-- Title -->
              <h2 item-title>{{item.autre}}</h2>
              <!-- Subtitle -->
              <p item-subtitle text-wrap>{{item.avis}}</p>
              <!-- Badge -->
              <ion-badge text-uppercase badge-light item-end>{{item.prix}}</ion-badge>
            </ion-item>

            <ion-item border no-lines *ngIf="data.titre === 'Bail'" (click)="onEvent('onModifierBail', item, $event)">
              <!-- Images -->
              <ion-thumbnail item-start>
                <img src="{{item.image}}">
              </ion-thumbnail>
              <!-- Title -->
              <h2 item-title>{{item.autre}}</h2>
              <!-- Subtitle -->
              <p item-subtitle text-wrap>{{item.avis}}</p>
              <!-- Badge -->
              <ion-badge text-uppercase badge-light item-end>{{item.prix}}</ion-badge>
            </ion-item>

            <!--Action Button-->
            <ion-item-options no-lines>
              <!-- Button -->
              <button ion-button text-capitalize ion-text color="delateButton" *ngIf="data.titre === 'Villa'" (click)="onEvent('onSupprimerVilla', '', $event)">
              <ion-icon name="trash"></ion-icon>
            </button>
              <button ion-button text-capitalize ion-text color="delateButton" *ngIf="data.titre === 'AppartsNM'" (click)="onEvent('onSupprimerAppartsNM', '', $event)">
              <ion-icon name="trash"></ion-icon>
            </button>
              <button ion-button text-capitalize ion-text color="delateButton" *ngIf="data.titre === 'AppartsM'" (click)="onEvent('onSupprimerAppartsM', '', $event)">
              <ion-icon name="trash"></ion-icon>
            </button>
              <button ion-button text-capitalize ion-text color="delateButton" *ngIf="data.titre === 'Immeuble'" (click)="onEvent('onSupprimerImmeuble', '', $event)">
              <ion-icon name="trash"></ion-icon>
            </button>
              <button ion-button text-capitalize ion-text color="delateButton" *ngIf="data.titre === 'Bureau'" (click)="onEvent('onSupprimerBureau', '', $event)">
              <ion-icon name="trash"></ion-icon>
            </button>
              <button ion-button text-capitalize ion-text color="delateButton" *ngIf="data.titre === 'Magasin'" (click)="onEvent('onSupprimerMagasin', '', $event)">
              <ion-icon name="trash"></ion-icon>
            </button>
              <button ion-button text-capitalize ion-text color="delateButton" *ngIf="data.titre === 'Bail'" (click)="onEvent('onSupprimerBail', '', $event)">
              <ion-icon name="trash"></ion-icon>
            </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
