<!-- Themes Swipe To Dismiss - Full width image -->
<ion-grid *ngIf="data != null">
    <ion-row no-padding>
        <ion-col col-12 col-sm-6 col-md-12 col-lg-8 col-xl-6 *ngFor="let group of data.items;let i = index;">

        <div (click)="onEvent('onItemClick', group.title, $event)">
             <ion-slides autoplay="8000" loop="true" speed="6000">
    <ion-slide >
      <img src="{{group.image}}" class = "images" >
    </ion-slide>
    
  </ion-slides>
  </div>
    
                <div gallery-description>
                    <!--<h6 gallery-subtitle>{{group.items.length}} Service(s)</h6>-->
                    <h2 gallery-title text-wrap>{{group.title}} </h2>
                </div>
        </ion-col>
    </ion-row>
</ion-grid>
