<!--
  Generated template for the Tabs3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

        <ion-navbar color="primary">
          <ion-title>Chat</ion-title>
        </ion-navbar>
      
      </ion-header>
      
      <ion-content #content>
      
        <div class="chatwindow">
      
              <!-- <div *ngIf="image != '' ">
                      <img class="image" src="{{image}}" (click)="pd(id, index, image)">
              </div> -->
      
          <ion-list no-lines style="border: none;" >
              <ion-item *ngFor="let message of allMessages; let last = last" (press)="showMessageConfirm(message, myDetails, details)">
      
                  {{last ? callFunction() : ''}}
      
                  <!-- <ion-avatar item-right *ngIf="message.Id != details.Id">
                      <img src="{{myDetails.Photo}}">
                  </ion-avatar> -->

                  <div *ngIf="message.Id === 'QVbwfPEMT6hsoj7aWlytER7V94F2' && message.Body.toString().startsWith('https://firebasestorage')" >
                    <p><img class="image" src="{{message.Body}}" (click)="pd(id, index, image)"></p> 
                    <p>{{message.Time}}</p>
                </div>
    
                <div class="bubble you" *ngIf="message.Id != 'QVbwfPEMT6hsoj7aWlytER7V94F2' && !message.Body.toString().startsWith('https://firebasestorage')" >
                    <h3> {{message.Body}} <h6>{{message.Time}}</h6></h3>
                </div>
    
                <!-- <ion-avatar item-left *ngIf="message.Id === details.Id">
                    <img src="{{details.Photo}}">
                </ion-avatar> -->
                <div class="bubble me" *ngIf="message.Id === 'QVbwfPEMT6hsoj7aWlytER7V94F2'">
                    <h3>{{message.Body}} <h6>{{message.Time}}</h6> </h3>
                </div>

              </ion-item>
          </ion-list>
      </div>
      
      </ion-content>
      
      <ion-footer no-border>
          <ion-toolbar>
          <ion-textarea  type="text" [(ngModel)]="newMessage.body" ></ion-textarea>
            <ion-buttons end>
                <button ion-button ion-icon icon-only (click)="sendMessageA()">
                    <ion-icon name="send"></ion-icon>
                </button>
            </ion-buttons>
          </ion-toolbar>     
      
      </ion-footer>
      
      